.block{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: max-content;
}


.block>div{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #E3FFD1;
    font-size: 15px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px 5px;
    border-radius: 5px;
    hyphens: auto;
}

.block>div>span:nth-child(2){
    width: 100%;
    text-align: right;
    padding-right: 5px;
}

.time{
    font-size: 9px;
    margin: 2px;
    font-weight: bold;
    margin-left: 5px;
}